body {
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: #6a6a6a;
  font-size: 14px;
  background-color: #eff2f1;
}

a {
  text-decoration: none;
  color: #5f97d8;
}

a:hover {
  color: #2f2f2f;
  text-decoration: none;
}

.custom-navbar {
  background: #3b5d50 !important;
  padding-top: 20px;
  padding-bottom: 20px;
}

.custom-navbar .navbar-brand {
  font-size: 32px;
  font-weight: 500;
}

.custom-navbar .navbar-brand > span {
  opacity: 0.4;
}

@media (min-width: 992px) {
  .custom-navbar .custom-navbar-nav li {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.custom-navbar .custom-navbar-nav li a {
  font-weight: 400;
  color: #ffffff !important;
  opacity: 0.5;
  transition: 0.3s all ease;
  position: relative;
}

.custom-navbar .custom-navbar-nav li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 8px;
  right: 8px;
  background: #f9bf29;
  height: 5px;
  width: 0;
}

.custom-navbar .custom-navbar-nav li a:hover,
.custom-navbar .custom-navbar-nav li.active a {
  opacity: 1;
}

.custom-navbar .custom-navbar-nav li.active a:before {
  width: calc(100% - 16px);
}

/* hero section start  */
.hero {
  background: #3b5d50;
  padding: 6rem 0;
}

.hero h1 {
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 30px;
}

.hero .hero-img-wrap img {
  max-width: 780 px;
  position: relative;
  top: 0px;
  right: 0px;
  z-index: 4;
}

.btn {
  color: #ffffff;
  background: #2f2f2f;
  border-color: #2f2f2f;
  padding: 12px 30px;
  border-radius: 30px;
  font-weight: 500;
}

.btn:hover {
  color: #ffffff;
  background: #222222;
  border-color: #222222;
}

.btn.btn-primary {
  background: #3b5d50;
  border-color: #3b5d50;
}

.btn.btn-primary:hover {
  background: #314d43;
  border-color: #314d43;
}

.btn.btn-secondary {
  color: #2f2f2f;
  background: #f9bf29;
  border-color: #f9bf29;
}

.btn.btn-secondary:hover {
  background: #f8b810;
  border-color: #f8b810;
}

.btn.btn-white-outline {
  background: transparent;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.3);
}

.btn.btn-white-outline:hover {
  border-color: white;
  color: #ffffff;
}

.text-primary {
  color: #3b5d50 !important;
}

/* product section */

.product-section {
  padding: 7rem 0;
}

.section-title {
  color: #2f2f2f;
}

.product-section .product-item {
  text-align: center;
  display: block;
  position: relative;
  padding-bottom: 50px;
  cursor: pointer;
}

.product-section .product-item .product-thumbnail {
  margin-bottom: 30px;
  position: relative;
  top: 0;
  transition: 0.3s all ease;
}

.product-section .product-item:hover .product-thumbnail {
  top: -25px;
}

.product-section .product-item h3 {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #2f2f2f;
}

.product-section .product-item strong {
  font-weight: 600;
  font-size: 18px;
  color: #2f2f2f;
  text-decoration: none;
}

.product-section .product-item .icon-cross {
  position: absolute;
  width: 35px;
  height: 35px;
  background: #2f2f2f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

/* why chose section  */

.why-choose-section {
  padding: 7rem 0;
}

.feature .icon {
  margin-bottom: 20px;
}

.feature h3 {
  font-size: 14px;
  color: #2f2f2f;
}

.feature p {
  font-size: 14px;
  line-height: 22px;
  color: #6a6a6a;
}

.why-choose-section .img-wrap img {
  border-radius: 25px;
}

/* popular product */

.popular-product {
  padding: 7rem 0;
}

.popular-product .product-item-sm .thumbnail {
  margin-right: 10px;
}

.popular-product .product-item-sm h3 {
  font-size: 14px;
  font-weight: 500;
  color: #2f2f2f;
}

.popular-product .product-item-sm a {
  text-decoration: none;
  color: #2f2f2f;
  transition: 0.3s all ease;
}

.popular-product .product-item-sm a:hover {
  color: rgba(47, 47, 47, 0.5);
}

.popular-product .product-item-sm p {
  margin-bottom: 10px;
  font-size: 14px;
}

/* footer section */
.footer-section {
  padding: 80px 0;
  background: #ffffff;
}

.footer-section .relative {
  position: relative;
}

.footer-section a {
  text-decoration: none;
  color: #2f2f2f;
  transition: 0.3s all ease;
}

.footer-section a:hover {
  color: rgba(47, 47, 47, 0.5);
}

.footer-section .subscription-form {
  margin-bottom: 40px;
  position: relative;
  z-index: 2;
  margin-top: 100px;
}

.footer-section .subscription-form form {
  gap: 10px 0;
}

@media (min-width: 992px) {
  .footer-section .subscription-form {
    margin-top: 0px;
    margin-bottom: 80px;
  }
}

.footer-section .subscription-form h3 {
  font-size: 18px;
  font-weight: 400;
  color: #3b5d50;
}

.footer-section .subscription-form .btn {
  border-radius: 10px;
}

.footer-section .sofa-img {
  position: absolute;
  top: -150px;
  right: 0;
  z-index: 1;
}

.footer-section .sofa-img img {
  max-width: 380px;
}

.footer-section .custom-social li {
  margin: 2px;
  display: inline-block;
}

.footer-section .custom-social li a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #dce5e4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
}

.footer-section .custom-social li a:hover {
  background: #b4b9b9;
}

.footer-section .links-wrap {
  margin-top: 0px;
}

@media (min-width: 992px) {
  .footer-section .links-wrap {
    margin-top: 54px;
  }
}

.footer-section .links-wrap ul li {
  margin-bottom: 10px;
}

.footer-section .footer-logo-wrap .footer-logo {
  font-size: 32px;
  font-weight: 400;
  text-decoration: none;
  color: #3b5d50;
}

.footer-section .border-top.copyright {
  font-size: 14px;
}

/* new page */

.untree_co-section {
  padding: 7rem 0;
}

.untree_co-section .our-team {
  display: flex;
  gap: 1rem;
}

@media (max-width: 978px) {
  .untree_co-section .our-team {
    display: flex;
    flex-direction: column;
  }
}

.service {
  line-height: 1.5;
}

.service .service-icon {
  border-radius: 10px;
  flex: 0 0 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #3b5d50;
  margin-right: 20px;
  color: #ffffff;
}

.site-blocks-table {
  overflow: auto;
}

.site-blocks-table .product-thumbnail {
  width: 200px;
}

.site-blocks-table .btn {
  padding: 2px 10px;
}

.site-blocks-table thead th {
  padding: 30px;
  text-align: center;
  border-width: 0px !important;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
}

.site-blocks-table td {
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.8);
}

.site-blocks-table tbody tr:first-child td {
  border-top: 1px solid #3b5d50 !important;
}

.site-blocks-table .btn {
  background: none !important;
  color: #000000;
  border: none;
  height: auto !important;
}

.site-block-order-table th {
  border-top: none !important;
  border-bottom-width: 1px !important;
}

.site-block-order-table td,
.site-block-order-table th {
  color: #000000;
}

.rounded-5 {
  border-radius: 0.5rem;
}

.rounded-7 {
  border-radius: 0.7rem;
}
